/* Este repositório base fué creado para ayudarte en caso que no sepas como comenzar, recuerda que el portafolio es tu carta de presentación y debes darle tu cara, por eso te invitamos a personalizarlo según tu estilo y preferencias no te limites apenas al layout propuesto en figma  
*/
:root {
    --color-de-fondo: #F5F5F5;
    --color-de-fondo-menu: #ffffff;
    --color-de-link: #000000;
}

body {
    background-color: var(--color-de-fondo);
    font-family: 'Raleway', sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0 15px;
    line-height: 1.6;
}

ol, ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-de-link);
}

/* ------------------------------ Sección Menú -------------------------------*/
.cabecera {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 165px;
    background-color: var(--color-de-fondo-menu);
}


.cabecera__logo {
    max-width: 80px; /* Ajuste para pantallas pequeñas */

    
}

.cabecera__titulo {
    padding-left: 0;
    font-size: 1.2rem;
   
}

.navegacion__lista {
    display: none;
}

.navegacion__elemento a {
    font-size: 0.9rem;
    
}
/* ------------------------------ Sección Presentación ------------------------------*/
.presentacion {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding: 0 1rem;
    
    
}

.presentacion__foto{
    width: 30%;
    border-radius: 50%;
  
}

.presentacion__titulo{
    font-size: 52px;
    font-weight: bold;
}

.presentacion__subtitulo{
    font-size: 22px;
   
}

.redes {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 3rem;
   
}

.redes__img {
    margin-right: 1rem; /* Espacio entre los elementos */
}

.redes__img:last-child {
    margin-right: 1rem; 
}

.redes__img a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.redes__img img {
    margin-left: 0.5rem; /* Espacio entre el texto y la flecha */
}



/* ------------------------------ Sección sobre mí ----------------------------------*/
.sobre-mi {
    background-color: #EAF2FD;
}

.sobre-mi__titulo {
    margin-bottom: 0.5rem;
}
/*------------------------------ Sección de Habilidades ------------------------------*/
.habilidades__titulo{
    display: flex;
    justify-content: center;
}

.habilidades__lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1px;
}    

.habilidades__elemento{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px; /* Ancho fijo para todos los elementos */
    height: 150px;
    justify-content: center;
    background-color: #FFFFFF;
   
}
.habilidades__elemento img {
    max-width: 50px; /* Ajusta según el tamaño deseado para los iconos */
    max-height: 50px;
    margin-bottom: 0.5rem;
}
.habilidades__elemento p {
    text-align: center;
    margin: 0;
    font-size: 1rem; /* Ajusta según tus preferencias */
}

/*------------------------------ Sección de Aficiones --------------------------------*/
.aficiones__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1px;
}

.aficiones__elemento {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px; /* Ancho fijo para todos los elementos */
    height: 150px;
    justify-content: center;
    background-color: #FFFFFF;
}

.aficiones__titulo{
    display: flex;
    justify-content: center;
}
.aficiones__icono {
    max-width: 50px;
    max-height: 50px;
    margin-bottom: 0.5rem;
}

.aficiones__nombre {
    text-align: center;
    margin: 0;
    font-size: 0.9rem;
}

/*------------------------------ Sección de Proyectos --------------------------------*/


/*------------------------------ Sección de Contacto ---------------------------------*/


/* ------------------------------ Responsividad ---------------------------------------*/

/* Tablets y pantallas más grandes */
@media (min-width: 768px) {
    .cabecera {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .cabecera__logo {
        max-width: 60px;
    }

    .cabecera__titulo {
        font-size: 1.5rem;
    }

    .navegacion__lista {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        margin-top: 0px;
    }

    .navegacion__elemento a {
        font-size: 1rem;
    }
    

    .presentacion__foto{
        width: 30%;
        height: 30%;
        
    }
    
    
    

    
    
    
    

  
}

/* Pantallas grandes */
@media (min-width: 1024px) {
    /* Aquí puedes ajustar aún más el diseño para pantallas grandes */
    .cabecera__titulo {
        font-size: 1.8rem;
    }

    .navegacion__elemento a {
        font-size: 1.1rem;
        
    }
    .presentacion{
        padding: 0 10rem;
    }
    .sobre-mi {
        padding: 0 30% 0 10%; /* Añade un poco de padding en los lados para dispositivos móviles */
    }
    .sobre-mi__titulo{
        font-size: 2rem;
    }
    .sobre-mi__texto{
        font-size: 1rem; 
    }
    .habilidades{
        padding: 0 7%;
        margin-bottom: 1rem;
    }
    .habilidades__titulo{
        font-size: 2rem;
    }
    .aficiones{
        padding: 0 7%;
        margin-bottom: 1rem;
    }
    


}
/* pantalla movil */
@media (max-width: 700px){
    .cabecera{
        display: flex;
        flex-direction: row;
    }

    .presentacion{
        display: flex;
        flex-direction: column;
    }
    .presentacion__titulo{
        font-size: 22px;
        font-weight: bold;
    }
    
    .presentacion__subtitulo{
        font-size: 14px;
       
    }

    .presentacion__foto{
        width: 60%;
        
    }
   
    
}


